body {
    margin: 0;
}
.header-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background: linear-gradient(0deg, #131015, rgb(31, 13, 54));
    border-bottom: 2px solid rgb(21, 3, 37);
    height: 50px;
    position: sticky !important;
    top: 0;
    padding: 10px;
    z-index: 10000;
    h2 {
        color: white 
    }
    .forum-header-right {
        a {
            cursor: pointer;
            color: rgb(255, 255, 255);
            margin: 0px 9px;
            text-decoration: underline;
            transition-duration: 0.2s;
            &:hover {
                transition-duration: 0.2s;
                color: rgb(254, 228, 254)
            }
        }
    }

}
.forum-hero-container {
    height: 200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px;
    background-color: rgb(250, 240, 255);
    .forum-hero-left {
        display: flex;
        align-items: center;
        .material-symbols-outlined {
            padding: 10px;
            font-size: 2.5em;
        }
    }
    .forum-hero-right {

        img {
            object-fit:contain;
            height: 300px;
            width: auto;
            mix-blend-mode: multiply !important;

        }
    }
}
.home-content-container {
    position: relative;
}
.error-text {
    color: red
}
button {
    border: 1px solid rgba(0, 0, 0, 0.469);
    border-radius: 3px;
    background-color: #00000000;
    align-self: center;
    width: 100%;
    transition-duration: 0.2s;
    margin-bottom: 3px;
    &:hover {
        background-color: rgb(32, 15, 40);
        color: white;
        transition-duration: 0.2s;
    }
}
.make-comment-container {
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: end;
    width: 100%;
    bottom: 0;
    background-color: rgb(230, 214, 253);
    border: 1px solid rgb(245, 239, 255);
    p {
        align-self: end;
    }
    .dialogue-box {
        display: flex;
        justify-content: space-between;
        align-items: center;
        .error-dialogue {
            color: red !important
        }
    }
    textarea {
        resize: none;
        width: 100%;
        height: 100px;
    }
}
.make-post-container {
    height: 300px;
    width: 300px;
    background-color: rgb(202, 234, 243);
    form {
        .post-row {
            display: flex;
            justify-content: space-between;
        }
        input, textarea {
            width: 70%
        }
    }
}
.all-comments-container {
    margin-bottom: 200px
}
.comment-container, .post-container {
    padding: 10px 15px 30px 15px;
    background-color: #f9f5fe;
    margin: 10px;
    border-radius: 10px;
    .comment-header {
        display: flex;
        justify-content: space-between;
        border-bottom: 1px solid rgba(136, 136, 136, 0.398);
    }
    p {
        margin: 0;
        display: flex;
        align-items: center;
    }
    .comment-content {
        margin: 10px
    }
    .material-symbols-outlined {
        color: gold;
    }
}
.post-container {
    padding: 30px 15px 60px 30px;
    margin: 20px 15px;
    .post-header {
        display: flex;
        justify-content: space-between;
    }
}
.my-forum-post {
    background-color: #f5ebff !important;
} 

.recent-post-container {
    cursor: pointer;
 .recent-post-inner {
    margin: 3px;
    transition-duration: 0.2s;
    border: 1px solid rgba(0, 0, 0, 0.107);
    height: 100px;
    border-radius: 4px;
    &:hover {
        transition-duration: 0.2s;
        transform: translateY(-2px);
        background-color: rgb(236, 234, 255);
    }
 }
}
.whats-new-container {
    border-left: 1px solid rgba(0, 0, 0, 0.214);
    .commit-block {
        margin: 0.25em;
        p {
            color: #00000091
        }
    }
    
}