body {
    margin: 0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.header-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background: linear-gradient(0deg, #333, rgb(31, 13, 54));
    border-bottom: 2px solid rgb(21, 3, 37);
    height: 50px;
    position: sticky !important;
    top: 0;
    padding: 10px;
    h2 {
        color: white 
    }
    .forum-header-right {
        a {
            cursor: pointer;
            color: rgb(255, 255, 255);
            margin: 0px 9px;
            text-decoration: underline;
            transition-duration: 0.2s;
            &:hover {
                transition-duration: 0.2s;
                color: rgb(254, 228, 254)
            }
        }
    }

}
.forum-hero-container {
    height: 200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px;
    background-color: rgb(250, 240, 255);
    .forum-hero-left {
        display: flex;
        align-items: center;
        .material-symbols-outlined {
            padding: 10px;
            font-size: 2.5em;
        }
    }
    .forum-hero-right {

        img {
            object-fit:contain;
            height: 300px;
            width: auto;
            mix-blend-mode: multiply !important;

        }
    }
}
.home-content-container {
    position: relative;
}
.error-text {
    color: red
}
.make-post-container {
    height: 300px;
    width: 300px;
    background-color: rgb(202, 234, 243);
    form {
        .post-row {
            display: flex;
            justify-content: space-between;
        }
        input, textarea {
            width: 70%
        }
    }
}

.comment-container, .post-container {
    padding: 10px 15px 30px 15px;
    background-color: rgba(205, 234, 243, 0.4);
    margin: 10px;
    border-radius: 3px;
    .comment-header {
        display: flex;
        justify-content: space-between;
        border-bottom: 1px solid rgba(136, 136, 136, 0.398);
    }
    p {
        margin: 0;
        display: flex;
        align-items: center;
    }
    .comment-content {
        margin: 10px
    }
    .material-symbols-outlined {
        color: gold;
    }
}
.post-container {
    padding: 30px 15px 60px 30px;
    margin: 20px 15px;
}
.comment-container.my-forum-post {
    background-color: rgb(212, 235, 255) !important;
} 
